

:root {
    --kyuhi: rgba(183, 112, 173);
  }

.pipe::after {
	content: url(/assets/images/seqsee.gif);
	position: absolute;
	left: -2rem;
	-webkit-animation: bones-2 30s infinite;
	animation: bones-2 30s infinite;
	transform: scale(.5);
	-webkit-clip-path: circle(50% at 50% 50%);
	clip-path: circle(50% at 50% 50%);
}