

:root {
    --kyuhi: rgba(134, 134, 69);
  }

.pipe::after {
	content: url(/assets/images/squid.gif);
	position: absolute;
	left: -2rem;
	-webkit-animation: bones-2 30s infinite;
	animation: bones-2 30s infinite;
	transform: scale(.5);
	-webkit-clip-path: circle(50% at 50% 50%);
	clip-path: circle(50% at 50% 50%);
}

.modal-figure {
	background-image: url(/assets/images/squid.gif);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	width: 7.5rem;
	height: 7.5rem;
	margin-left: auto;
	margin-right: auto;
	-webkit-clip-path: circle(50% at 50% 50%);
	clip-path: circle(50% at 50% 50%);
}

.right-valve {
	background-image: url(/assets/images/squidgateR.png);
	background-position: center center;
	background-size: cover;
  }

  .left-valve {
	background-image: url(/assets/images/squidgateL.png);
	background-position: center center;
	background-size: cover;
  }

  .right-valve-out {
	background-image: url(/assets/images/squidRight.png);
  }

  .left-valve-out {
	background-image: url(/assets/images/squidLeft.png);
  }

  .right-valve-modal {
	background-image: url(/assets/images/squidgateR.png);
  }
  
  .left-valve-modal {
	background-image: url(/assets/images/squidgateL.png);
  }

  .modal {
	background-image: radial-gradient(circle at top, rgba(0, 0, 0, 1), rgba(0, 0, 0, .50)), url(/assets/images/squidgate.png);
  }
