

:root {
    --kyuhi: rgba(69, 101, 69);
  }

.pipe::after {
	content: url(/assets/images/vanikoro.webp);
	position: absolute;
	left: -2rem;
	-webkit-animation: bones-2 30s infinite;
	animation: bones-2 30s infinite;
	transform: scale(.5);
	-webkit-clip-path: circle(40% at 50% 50%);
	clip-path: circle(40% at 50% 50%);
}